@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --paid: 160 67% 52%;
    --pending: 34 100% 50%;
    --draft: 231 37% 63%;
    --draft-dark: 231, 37%, 63%;
    --draft-light: 228, 29%, 7%;
  }
  body {
    @apply min-h-screen overflow-x-hidden bg-body-color font-spartan dark:bg-body-color-dark;
  }
}

@layer components {
  .btn {
    @apply rounded-full px-[24px] py-[17px] font-semibold;
  }
  .btn-status {
    @apply;
  }
  .edit {
    @apply bg-[#f9fafe] text-[#7e88c3] dark:bg-opacity-5 dark:text-[#DFE3FA];
  }
  .delete {
    @apply bg-[#ec5757] text-[#fff];
  }
  .paid {
    @apply bg-[#7c5dfa] text-[#fff];
  }
}

@layer utilities {
  .green-text {
    @apply text-paid-text;
  }
  .orange-text {
    @apply text-pending-text;
  }
  .gray-text {
    @apply text-draft-text dark:text-draft-dark;
  }

  .paid-bg {
    @apply bg-paid-bg;
  }
  .pending-bg {
    @apply bg-pending-bg;
  }
  .draft-bg {
    @apply bg-draft-bg;
  }

  .dot-paid {
    @apply bg-paid-text;
  }
  .dot-pending {
    @apply bg-pending-text;
  }
  .dot-draft {
    @apply bg-draft-text dark:bg-draft-dark;
  }
  .calc-height {
    height: calc(100vh - 210px);
  }
}
